Hello world


//- - - - - This is the experimental HTML - - - -- //

<div class="row">
  <div class="col-xs-12 banner_picture">
    <div class="col-xs-6">
      <div class="value_proposition"> Paid internships that make a difference lorem ispu sdf sdföjdsöjf söd
        <div class"value_alignment">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <div class="logos">Lorem ipsum
  </div>
</div>

<div class="section">
<div class="container_first">


<div class="certified"> These companies are certified as excellent employers for interns </div>

  <div class="orange_line-3"></div>
  <div class="orange_line-3"></div>
  <div class="orange_line-3"></div>
  <div class="orange_line-3"></div>
  <div class="employer-3 employer-logo1 employer-title"><img src="/images/EYF.jpg" height="80" align="center"><br><br>European Youth Forum<div class="employer-sub-title">Brussels</div></div>
  <div class="employer-3 employer-logo1"><img src="/images/BritCham.jpg" height="80" align="center"><div class="employer-title"><br>British Chamber</div><div class="employer-sub-title">Brussels</div></div>
  <div class="employer-3 employer-logo1"><img src="/images/BritCham.jpg" height="80" align="center"><div class="employer-title"><br>Telecom Italia</div><div class="employer-sub-title">Roma</div></div>
  <div class="employer-3 employer-logo1"><img src="/images/EYF.jpg" height="80" align="center"><div class="employer-title"><br>Microsoft Europe</div><div class="employer-sub-title">Brussels</div></div>

  <div class="orange_line-3"></div>
  <div class="orange_line-3"></div>
  <div class="orange_line-3"></div>
  <div class="orange_line-3"></div>


  <div class="employer-3 employer-logo1"><img src="/images/EYF.jpg" height="80" align="center"><div class="employer-title"><br>European Youth Forum</div><div class="employer-sub-title">Brussels</div></div>
  <div class="employer-3 employer-logo1"><img src="/images/BritCham.jpg" height="80" align="center"><div class="employer-title"><br>British Chamber</div><div class="employer-sub-title">Brussels</div></div>
  <div class="employer-3 employer-logo1"><img src="/images/BritCham.jpg" height="80" align="center"><div class="employer-title"><br>Telecom Italia</div><div class="employer-sub-title">Roma</div></div>
  <div class="employer-3 employer-logo1"><img src="/images/EYF.jpg" height="80" align="center"><div class="employer-title"><br>Microsoft Europe</div><div class="employer-sub-title">Brussels</div></div>
</div>



<div class="container container-grey">
	<div class="row">
		<div class="col8">
		<div class="certified2">Available internship offers</div>

<ul class="container-vertical-scroll job-offer-teasers">


  <li class="panel job-offer-teaser job-offer-teaser-slim">
			<div class="col2">
				<div class="job-offer-teaser-logo">
				<a href="/unternehmen/pwc"><img alt="PwC" title="PwC" src="https://d3mdfa9c7hlxb1.cloudfront.net/companies/34/icon1395070020.png?1395070020">
				</a></div>
			</div>

		<div class="col10">
			<div class="job-offer-teaser-description">
			<a data-star-track-resource="homepage_job_offers_list"><span class="job-offer-teaser-title">Rechtsanwalt / Volljurist (w/m) Arbeitsrecht</span>
			<br>
			<span class="job-offer-teaser-company">PwC</span></a>
			</div>
		</div>
	</li>

  <li class="panel job-offer-teaser job-offer-teaser-slim">
			<div class="col2">
				<div class="job-offer-teaser-logo">
				<a href="/unternehmen/pwc"><img alt="PwC" title="PwC" src="https://d3mdfa9c7hlxb1.cloudfront.net/companies/34/icon1395070020.png?1395070020">
				</a></div>
			</div>

		<div class="col10">
			<div class="job-offer-teaser-description">
			<a data-star-track-resource="homepage_job_offers_list"><span class="job-offer-teaser-title">Rechtsanwalt / Volljurist (w/m) Arbeitsrecht</span>
			<br>
			<span class="job-offer-teaser-company">PwC</span></a>
			</div>
		</div>
	</li>

  <li class="panel job-offer-teaser job-offer-teaser-slim">
      <div class="col2">
        <div class="job-offer-teaser-logo">
        <a href="/unternehmen/pwc"><img alt="PwC" title="PwC" src="https://d3mdfa9c7hlxb1.cloudfront.net/companies/34/icon1395070020.png?1395070020">
        </a></div>
      </div>

    <div class="col10">
      <div class="job-offer-teaser-description">
      <a data-star-track-resource="homepage_job_offers_list"><span class="job-offer-teaser-title">Rechtsanwalt / Volljurist (w/m) Arbeitsrecht</span>
      <br>
      <span class="job-offer-teaser-company">PwC</span></a>
      </div>
    </div>
  </li>

  <li class="panel job-offer-teaser job-offer-teaser-slim">
      <div class="col2">
        <div class="job-offer-teaser-logo">
        <a href="/unternehmen/pwc"><img alt="PwC" title="PwC" src="https://d3mdfa9c7hlxb1.cloudfront.net/companies/34/icon1395070020.png?1395070020">
        </a></div>
      </div>

    <div class="col10">
      <div class="job-offer-teaser-description">
      <a data-star-track-resource="homepage_job_offers_list"><span class="job-offer-teaser-title">Rechtsanwalt / Volljurist (w/m) Arbeitsrecht</span>
      <br>
      <span class="job-offer-teaser-company">PwC</span></a>
      </div>
    </div>
  </li>

  <li class="panel job-offer-teaser job-offer-teaser-slim">
      <div class="col2">
        <div class="job-offer-teaser-logo">
        <a href="/unternehmen/pwc"><img alt="PwC" title="PwC" src="https://d3mdfa9c7hlxb1.cloudfront.net/companies/34/icon1395070020.png?1395070020">
        </a></div>
      </div>

    <div class="col10">
      <div class="job-offer-teaser-description">
      <a data-star-track-resource="homepage_job_offers_list"><span class="job-offer-teaser-title">Rechtsanwalt / Volljurist (w/m) Arbeitsrecht</span>
      <br>
      <span class="job-offer-teaser-company">PwC</span></a>
      </div>
    </div>
  </li>

  <li class="panel job-offer-teaser job-offer-teaser-slim">
      <div class="col2">
        <div class="job-offer-teaser-logo">
        <a href="/unternehmen/pwc"><img alt="PwC" title="PwC" src="https://d3mdfa9c7hlxb1.cloudfront.net/companies/34/icon1395070020.png?1395070020">
        </a></div>
      </div>

    <div class="col10">
      <div class="job-offer-teaser-description">
      <a data-star-track-resource="homepage_job_offers_list"><span class="job-offer-teaser-title">Rechtsanwalt / Volljurist (w/m) Arbeitsrecht</span>
      <br>
      <span class="job-offer-teaser-company">PwC</span></a>
      </div>
    </div>
  </li>

  <li class="panel job-offer-teaser job-offer-teaser-slim">
      <div class="col2">
        <div class="job-offer-teaser-logo">
        <a href="/unternehmen/pwc"><img alt="PwC" title="PwC" src="https://d3mdfa9c7hlxb1.cloudfront.net/companies/34/icon1395070020.png?1395070020">
        </a></div>
      </div>

    <div class="col10">
      <div class="job-offer-teaser-description">
      <a data-star-track-resource="homepage_job_offers_list"><span class="job-offer-teaser-title">Rechtsanwalt / Volljurist (w/m) Arbeitsrecht</span>
      <br>
      <span class="job-offer-teaser-company">PwC</span></a>
      </div>
    </div>
  </li>

<div class="container_first">
  <div class="employer-page-teaser-listing">
    <div class="title_row">
      <div class="employer-page-teaser">
        <div class="col4">

        </div class="left-teaser">
      </div>
      </div>
      </div>


    </div>
  </div>
</div>


</ul>
</div>
</div>
</div>
</div>



<div class="col">
  <div class="box"><div class="employer-logo1 employer-title"><img src="/images/EYF.jpg" height="80" align="center"><br><br>European Youth Forum<div class="employer-sub-title">Brussels</div></div>
      Box
      <div class="box__footer"><div class="footer_container"><div class="footer_box employer-sub-title"><a href="#">Offers</a></div><div class="footer_box employer-sub-title"><a href="#">Ratings</a></div></div>
      </div>
    </div>
</div>

<div class="col">
  <div class="box"><div class="employer-logo1 employer-title"><img src="/images/EYF.jpg" height="80" align="center"><br><br>European Youth Forum<div class="employer-sub-title">Brussels</div></div>
      Box
      <div class="box__footer"><div class="footer_container"><div class="footer_box employer-sub-title"><a href="#">Offers</a></div><div class="footer_box employer-sub-title"><a href="#">Ratings</a></div></div>
      </div>
    </div>
</div>

<div class="col">
  <div class="box"><div class="employer-logo1 employer-title"><img src="/images/EYF.jpg" height="80" align="center"><br><br>European Youth Forum<div class="employer-sub-title">Brussels</div></div>
      Box
      <div class="box__footer"><div class="footer_container"><div class="footer_box employer-sub-title"><a href="#">Offers</a></div><div class="footer_box employer-sub-title"><a href="#">Ratings</a></div></div>
      </div>
    </div>
</div>

<div class="col">
  <div class="box"><div class="employer-logo1 employer-title"><img src="/images/EYF.jpg" height="80" align="center"><br><br>European Youth Forum<div class="employer-sub-title">Brussels</div></div>
      Box
      <div class="box__footer"><div class="footer_container"><div class="footer_box employer-sub-title"><a href="#">Offers</a></div><div class="footer_box employer-sub-title"><a href="#">Ratings</a></div></div>
      </div>
    </div>
</div>





<div class="row">
  <div class="col-md-4 center-align">lorem
    <div class="container-test"><div class="orange_line-test"></div>
      <div class="employer-test"></div>
      Hi this is me.
    </div>


  </div>


<div class="row">
  <div class="col-md-12 employer-title">Employers with outstanding internship programs</div>
  <div class="col-md-12">

    <div class="col-md-4 employer-container-1">
      <div class="employer-picture-1"></div>
      <div class="employer-title"> Telecom Italia </div>
      <div class="employer-text">Lorem ipsum sit amer<br> non secuitur<br> lorem ipsum</div>
    </div>

    <div class="col-md-7 employer-container-2">
      <div class="employer-right-text employer-title">Lorem ipsum</div>
      <div class="employer-picture-2"></div>
    </div>

    <div class="col-md-7 employer-container-2">
      <div class="employer-right-text employer-title">Lorem ipsum</div>
      <div class="employer-picture-2"></div>
    </div>

</div>
</div>


<div class="container_new background-section-grey">
	<div class="row-new">
		<div class="col8">
			<div class="title-jobs">Aktuelle Stellenangebote</div>
			<ul class="container-vertical-scroll job-offer-teasers">
				<li class="panel job-offer-teaser">
					<div class="col2">
						<div class="job-offer-teaser-logo">
							<a href="#"><img src="/images/EYF.jpg" height="40" width="40"</a>


					</div>
				</div>
				<div class="col10">
					<div class="job-offer-teaser-description">
						<a href="#"> Junior Controller<br>
							European Youth Forum</a>


				</div>
			</div>

				</li>

				<li class="panel job-offer-teaser">
					<div class="col2">
						<div class="job-offer-teaser-logo">
							<a href="#"><img src="/images/EYF.jpg" height="40" width="40"</a>


					</div>
				</div>
				<div class="col10">
					<div class="job-offer-teaser-description">
						<a href="#"> Junior Controller<br>
							European Youth Forum</a>


				</div>
				</div>
				</li>

				<li class="panel job-offer-teaser">
					<div class="col2">
						<div class="job-offer-teaser-logo">
							<a href="#"><img src="/images/EYF.jpg" height="40" width="40"</a>


					</div>
				</div>
				<div class="col10">
					<div class="job-offer-teaser-description">
						<a href="#"> Junior Controller<br>
							European Youth Forum</a>


				</div>
				</div>
				</li>

				<li class="panel job-offer-teaser">
					<div class="col2">
						<div class="job-offer-teaser-logo">
							<a href="#"><img src="/images/EYF.jpg" height="40" width="40"</a>


					</div>
				</div>
				<div class="col10">
					<div class="job-offer-teaser-description">
						<a href="#"> Junior Controller<br>
							European Youth Forum</a>


				</div>
				</div>
				</li>

				<li class="panel job-offer-teaser">
					<div class="col2">
						<div class="job-offer-teaser-logo">
							<a href="#"><img src="/images/EYF.jpg" height="40" width="40"</a>


					</div>
				</div>
				<div class="col10">
					<div class="job-offer-teaser-description">
						<a href="#"> Junior Controller<br>
							European Youth Forum</a>


				</div>
				</div>
				</li>

				<li class="panel job-offer-teaser">
					<div class="col2">
						<div class="job-offer-teaser-logo">
							<a href="#"><img src="/images/EYF.jpg" height="40" width="40"</a>


					</div>
				</div>
				<div class="col10">
					<div class="job-offer-teaser-description">
						<a href="#"> Junior Controller<br>
							European Youth Forum</a>


				</div>
				</div>
				</li>

				<li class="panel job-offer-teaser">
					<div class="col2">
						<div class="job-offer-teaser-logo">
							<a href="#"><img src="/images/EYF.jpg" height="40" width="40"</a>


					</div>
				</div>
				<div class="col10">
					<div class="job-offer-teaser-description">
						<a href="#"> Junior Controller<br>
							European Youth Forum</a>


				</div>
				</div>
				</li>

			</ul>
			<div class="gutter20 title-jobs">
				<a href="20"> Alle Stellenangebote </a>
			</div>
		</div>
		<div class="col4">
		<div class="homepage-stats">
			<h2> Absolventa in Zahlen</h2>
			<div class="panel2">
				<a href="#">This is some text.<br><br> </a>
		</div>

		<div class="panel2">
			<a href="#">This is some text. </a>
	</div>

	</div>
	</div>
</div>
</div>

<div class="background-section-white">
<div class="row">
	<div class="col-md-12">
		<div class="logo-display">
			<div class="logo-each"> <a href="#"><img src="/images/EYF.jpg" height="50" align="center"></a></div>
				<div class="logo-each"> <a href="#"><img src="/images/EYF.jpg" height="50" align="center"></a></div>
				<div class="logo-each"> <a href="#"><img src="/images/EYF.jpg" height="50" align="center"></a></div>
				<div class="logo-each"> <a href="#"><img src="/images/EYF.jpg" height="50" align="center"></a></div>
		</div>

	</div>
</div>
</div>
